* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 120%;
  --color1: #4047f0;
}

.body {
  display: grid;
  place-items: center;
  height: 100vh;
}

 /* ####################################   css for main Container  ####################################  */
 
 .main_container {
   height:initial;
   width: 80vw;
   border: 1px solid gray;
   border-radius: 1rem;
   font-family: sans-serif;
   display: grid;
   grid-template-areas:
   "header header"
   "card_details card_output";
   grid-template-rows: 1fr 10fr;
   grid-template-columns: repeat(2, 1fr);
  }
  
  /* ####################################   css for main header  ####################################  */
  .header {
    grid-area: header;
    text-align: center;
    background-color: #3ab6cf;
    color: white;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  /* ####################################   css for card input  ####################################  */
  .card_details {
    grid-area: card_details;
    border-right: 1px solid gray;
    display: grid;
    justify-items: center;
  }
  .card_output {
    grid-area: card_output;
    

}

.cardInput {
  width: 80%;
  display: grid;
  justify-items: center;
}

.cardInput h2 {
  color: var(--color1);
  margin: 0.5rem 0 1rem 0;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  margin: 0.5rem 0 1rem 0;
}

.icon {
  padding: 0.5rem 1rem;
  text-align: center;
}
input[type="file"] {
  font-size: 1rem;
}
.input-field {
  width: 70%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.8rem;
  outline: none;
  border: 0.5px solid gray;
  font: 1rem;
  background-color: #d9daf3;
}
section label {
  font-weight: bold;
}
.btn {
  padding: 0.5rem;
  background-color: #2e0fdd;
  color: white;
  outline: none;
  border: 1px solid var(--color1);
  border-radius: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.cardimage {
  width: 7rem;
  height: 7rem;
  margin-top: 1rem;
  display: none;
}

/* ####################################   css for card output  ####################################  */
.card_output {
  display: grid;
  place-items: center;
  margin: 1rem;
  background-color: #f8f8f9;
  
}

.card_output section {
  display: grid;
  place-items: center;
}
.card_output h2 {
  margin: 1rem;
  text-align: center;
}
.Idcard {
  height:18rem;
  width: 25rem;
  border: 1px solid gray;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Idcard .img {
  background-image: linear-gradient(to top,#279f78, #8f94fb);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: grid;
  place-items: center;
  border: 1px solid gray;
}
.Idcard .img img {
  border-radius: 30%;
}

.cardDetails {
  display: grid;
  margin: 3rem 1rem;
}
.title {
  color: gray;
}

/* ####################################   css for ID card display none  ####################################  */
#cardSection {
  display: none;
}


