@media screen and (max-width: 1260px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 1050px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 60%;
  }
  .main_container {
    grid-template-areas:
      "header "
      "card_details "
      "card_output";
    grid-template-columns: 1fr;
  }
  .card_details {
    border-bottom: 1px solid gray;
    border-right: none;
  }
  .main_container {
    width: 90vw;
  }
}
